
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,h2,h3 {
    font-family: 'Raleway', sans-serif;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo>span.custom-class {
    color: #2e2f42;


}

.custom-class{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.custom-class:hover {
    color: #404bbf;
}
.custom-class:focus {
    color: #404bbf;
    outline: none;
}


.address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address:hover {
    color: #404bbf;
}

.address:focus{
    color: #404bbf;
    outline: none;
}

.business {
    background-color: #2e2f42;
}

.business-heading {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.business-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.business-button:hover,
.business-button:focus {
    background-color: #404BBF;
}

.list-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

main-list{
    background-color:#F4F4FD;
}

main-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

main-content{
    background-color: #FFFFFF;
}

main-content-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

main-content-role{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
